{% extends "modelo_base_logado.html" %}
{% block conteudo %}

<div class = "main_content">
    <form action="/alterar_senha" method="POST">
        <label for="current_password">Senha Atual:</label>
        <input type="password" id="current_password" name="current_password" required>
        <br>
        <label for="new_password">Nova Senha:</label>
        <input type="password" id="new_password" name="new_password" required>
        <br>
        <label for="confirm_password">Confirme Nova Senha:</label>
        <input type="password" id="confirm_password" name="confirm_password" required>
        <br>
        <button type="submit">Alterar Senha</button>
    </form>
</div>

{%endblock%}