<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Projeto Desenvolvimento Web</title>
</head>
<body>
    <!----------------------------------------------------------------------------------------------------------------------------------------------->
    <div>
        <nav>
            <a href="#">Início</a>
            <a href="#">Login</a>
            <a href="#">Buscar Animais</a>
            <a href="#">Rota_04</a>
            <a href="#">Rota_05</a>
        </nav>
    </div>
    <!----------------------------------------------------------------------------------------------------------------------------------------------->
    <div>
        <h2>Olá ***Usuário***</h2>
    </div>
    <div>
        <h2>Descubra qual a categoria do animal:</h2>
        <input type="text" id="searchInput" placeholder="Digite o nome do animal">
        <button>Buscar</button> <!-- Criar e inserir depois a lógica da busca e a função "onclick"-->
    </div>
    <!----------------------------------------------------------------------------------------------------------------------------------------------->
        <footer>
            <p>&copy; 2024 Alisson e Jhonatas. Todos os direitos reservados.</p>
        </footer>
    <!----------------------------------------------------------------------------------------------------------------------------------------------->
</body>
</html>