{% extends "modelo_base_logado.html" %}

{% block conteudo %}
<div class="main_content">
    <h2>Animais já cadastrados:</h2>
    <ul>
        {% for animal in animais %}
        <li>
            Nome: {{ animal.animalname }}<br>
            Localização: {{ animal.animallocalization }}<br>
            Tipo: {{ animal.animaltype }}<br>
            <a href="{{ url_for('editar_animal', animalname=animal.animalname) }}">Editar</a> | 
            <a href="{{ url_for('excluir_animal', animalname=animal.animalname) }}">Excluir</a>
        </li>
        <br>
        {% else %}
        <p>Nenhum animal catalogado ainda.</p>
        {% endfor %}
    </ul>
</div>
{% endblock %}