{%extends "modelo_base_logado.html"%}
{%block conteudo%}

<div class = "main_content" >
    <form action="/efetuar_cadastro_animal" method="POST">
        <label for="nome">Nome do Animal:</label><br>
        <input type="text" id="animalname" name="animalname" required maxlength="35"><br><br>

        <label for="localizacao">Localização:</label><br>
        <input type="text" id="animallocalization" name="animallocalization" required maxlength="50"><br><br>

        <label for="tipo">Tipo:</label><br>
        <select id="animaltype" name="animaltype" required>
            <option value="Réptil">Réptil</option>
            <option value="Mamífero">Mamífero</option>
            <option value="Ave">Ave</option>
            <option value="Anfíbio">Anfíbio</option>
            <option value="Peixe">Peixe</option>
        </select><br><br>
        <button type="submit">Cadastrar</button>
    </form>
</div>

{%endblock%}