{%extends "modelo.html"%}
{%block conteudo%}
<div class = "main_content" >
    <form action="/efetuar_cadastro_animal" method="POST">
        <label for="nome">Nome do Animal:</label><br>
        <input type="text" id="animalname" name="animalname" required><br><br>

        <label for="localizacao">Localização:</label><br>
        <input type="text" id="animallocalization" name="animallocalization" required><br><br>

        <label for="tipo">Tipo:</label><br>
        <select id="animaltype" name="animaltype" required>
            <option value="réptil">Réptil</option>
            <option value="mamífero">Mamífero</option>
            <option value="ave">Ave</option>
            <option value="anfíbio">Anfíbio</option>
            <option value="peixe">Peixe</option>
        </select><br><br>
        <button type="submit">Cadastrar</button>
    </form>
</div>
{%endblock%}