{% extends "modelo_base_logado.html" %}

{% block conteudo %}
<div class="main_content">
    <h2>Editar Animal</h2>
    <form method="POST">
        <label for="animalname">Nome:</label>
        <input type="text" id="animalname" name="animalname" value="{{ animal.animalname }}" required><br>

        <label for="animallocalization">Localização:</label>
        <input type="text" id="animallocalization" name="animallocalization" value="{{ animal.animallocalization }}" required><br>

        <label for="animaltype">Tipo:</label>
        <input type="text" id="animaltype" name="animaltype" value="{{ animal.animaltype }}" required><br>

        <button type="submit">Atualizar</button>
    </form>
</div>
{% endblock %}