<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Projeto Desenvolvimento Web</title>
</head>
<body>
    <div>
        <header>
            <h1>Animais vertebrados</h1>
        </header>
    </div>
    <!----------------------------------------------------------------------------------------------------------------------------------------------->
    <div>
        <nav>
            <a href="#">Início</a>
            <a href="#">Rota_02</a>
            <a href="#">Rota_03</a>
            <a href="#">Rota_04</a>
            <a href="#">Rota_05</a>
        </nav>
    </div>
    <!----------------------------------------------------------------------------------------------------------------------------------------------->
    <div>
        <h2>Subtítulo aleatório</h2>
        <p>Preencher depois, texto aleatório</p>
        <img src="/static/imagens/logo IF.png" width="5%">
    </div>
    <!----------------------------------------------------------------------------------------------------------------------------------------------->
        <footer>
            <p>&copy; 2024 Meu Site de Animais. Todos os direitos reservados.</p>
        </footer>
    <!----------------------------------------------------------------------------------------------------------------------------------------------->
</body>
</html>