{%extends "modelo_base_logado.html"%}
{%block conteudo%}
<!----------------------------------------------------------------------------------------------------------------------------------------------->
    <div class = "main_content">
        <p>
            Nosso site foi criado para servir como um banco de informações abrangente e acessível sobre animais vertebrados. Aqui, você encontrará um repositório de dados sobre diversas espécies e inclusive, poderá contribuir também para produzir mais informações.
            Nosso objetivo é proporcionar uma fonte confiável e prática para estudantes, pesquisadores e entusiastas da vida selvagem que desejam aprender mais sobre os vertebrados e suas maravilhas. Seja você um biólogo, um educador ou simplesmente alguém curioso sobre o mundo natural, esperamos que encontre aqui uma riqueza de informações que atenda às suas necessidades.
            Explore nosso site e embarque em uma jornada de descoberta pelos fascinantes mundos dos animais vertebrados!
        </p>
    </div>
    <br>
     <!----------------------------------------------------------------------------------------------------------------------------------------------->
    <div class = "main_content">
        <img src="/static/imagens/animais-vertebrados.png">
    </div>
    <br>
{%endblock%}
