<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Projeto Desenvolvimento Web</title>
</head>
<body>
    
    <div class = "navigation_bar">
        <nav>
            <a href="{{url_for('inicio')}}">Início</a>
            <a href="{{url_for('login')}}">Login</a>
            <a href="{{url_for('cadastrar_usuario')}}">Cadastrar-se</a>
        </nav>
    </div>
    
    {%block conteudo%}
    {%endblock%}
        <footer>
            <p>&copy; 2024 Alisson e Jhonatas. Todos os direitos reservados.</p>
        </footer>
</body>
</html>